@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-white min-h-screen overflow-x-hidden;
  }
}

input, textarea, select {
  color: white !important;
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: #94a3b8 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px #1e293b inset !important;
  transition: background-color 5000s ease-in-out 0s;
}
